{% extends 'base.html.twig' %}

{% block title %}Star Trek Fleet Command{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{{ path('app_stfc_index') }}">Territory Selector</a>
{% endblock %}
